<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>Личный кабинет</h1>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/dologout}" method="get">
            <button type="Submit">Выйти из аккаунта</button>
        </form>
    </div>

    <h2>Данные пользователя:</h2>
    <p>Имя: <span th:text="${userdata.name}"></span></p>
    <p>Фамилия: <span th:text="${userdata.lastname}"></span></p>
    <p>Возраст: <span th:text="${userdata.age}"></span></p>
    <p>Имя пользователя: <span th:text="${userdata.username}"></span></p>
    <p>Права:&nbsp;
        <span sec:authorize="hasRole('USER')">пользователь </span>
        <span sec:authorize="hasRole('ADMIN')">администратор</span>
    </p>

    <div sec:authorize="hasRole('ADMIN')">
        <a href="#" th:href="@{/admin}">Вернуться в админскую</a>&nbsp
    </div>
</body>
</html>